:root {
    --dark-blue: #293449;
    --basic-blue: #32425C;
    --white: #FFFFFF;
    --pink-red: #EE3643;
    --light-pink-red: #FF5357;
    --black: #000000;
    --orange: #FFBF47;
    --blue: #3BBCE3;
    --lilac: #DC91D8;
    --greenlight: #8ED78F;
    --light-orange: #FFC047;
    --alpha-black: rgba(0, 0, 0, 0.25);
    --beige-gray: #F9F5F0;
    --lighten-gray: #EAEAEA;
    --alpha-gray: rgba(0, 0, 0, 0.0001);
    --gray: rgba(169, 169, 169, 0.3);
    --sky-gray: #F1F5F7;
    --light-gold: #FFD180;
    --lightest-gray: #E5E5E5;
    --soft-gray: #F7F3EC;
    --light-sky-gray: #F2F6F8;
    --basic-gray: #A9A9A9;
    --darken-gray: #F3F7F9;
    --blue-darker: #212A3A;
    --blue-gray: #3D546F;

    --green: #63A63E;
    --light-green: #5FBB2D;
    --shadow-green: #367315;
    --darken-green: #518534;
    --dark-gray: rgba(197, 197, 197, 0.3);
    --darken-blue: #1D2739;
    --dark-red: #BA2732;
    --darkest-blue: #161D29;
    --alpha-white: rgba(255, 255, 255, 0.5);
    --less-alpha-white: rgba(255, 255, 255, 0.3);
    --alpha-black-light: rgba(0, 0, 0, 0.24);
    --basic-graylight: #C5C5C5;
    --dark-pink-red: #CA2C37;
    --shadow-alpha-gray: rgba(0, 0, 0, 0.15);
    --light-grey: #C1C6CE;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background-color: var(--white);
    color: var(--black);
}

.page a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.nav-list,
.module-icons,
.goods-list,
.brands-list,
.upper-links,
.lower-links,
.social-media,
.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.centered {
    width: 940px;
    margin: 0 auto;
}


/*=======Header=======*/


.header-menu-wrapper {
    display: grid;
    grid-template-columns: 220px 270px 1fr 1fr 1fr;
    overflow: visible;
}

.header {
    background-color: var(--sky-gray);
    padding-bottom: 60px;
}

.header-menu {
    height: 42px;
    background-color: var(--dark-blue);
}



.logo-container {
    width: 220px;
    height: 47px;
    background-color: var(--pink-red);
    box-shadow: inset 0px -5px 0px var(--alpha-black-light);
}

.logo-text {
    fill: var(--white);
}

.logo-container:active {
    background-color: var(--dark-red);
}

.icon-search,
.icon-bookmark,
.icon-cart {
    fill: var(--white);
    opacity: 0.3;
}

.search-container {
    height: 42px;
    padding-left: 17px;
}

.search-container:hover .icon-search,
.markers:hover .icon-bookmark,
.basket:hover .icon-cart {
    opacity: 1;
}

.markers:active .icon-bookmark,
.basket:active .icon-cart {
    opacity: 0.3;
}

.markers,
.basket {
    height: 42px;
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
}

.basket {
    width: 136px;
    margin-left: 14px;
}

.markers:active,
.basket:active {
    background-color: var(--darkest-blue);
    color: var(--alpha-white);
}

/*.not-empty {
    background-color: var(--pink-red);
}  -  Для classList.add  */

.order {
    display: inline-block;
    vertical-align: top;
    height: 42px;
    box-sizing: border-box;
    color: var(--white);
    background-color: var(--green);
    font-size: 18px;
    line-height: 24px;
}

.order:hover {
    background-color: var(--light-green);
}

.order:active {
    color: var(--alpha-white);
}

.middle-header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.shop-description {
    margin-left: 30px;
    color: var(--pink-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}

.header-contacts-wrapper {
}

.icon-phone {
    fill: #B7BFC8;
}

.header-tel {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    color: var(--pink-red);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background-color: var(--darken-gray);
    border: 3px solid var(--white);
}

.header-address {
    color: var(--basic-blue);
}

.profile-options {
    display: flex;
    justify-content: flex-end;
}

.checkin,
.login,
.profile,
.logout {
    display: inline-block;
    vertical-align: top;
    height: 45px;
    color: var(--black);
    background-color: var(--white);
    font-size: 21px;
    line-height: 21px;
}

.login {
    width: 121px;
}

.checkin {
    width: 150px;
    margin-left: 10px;
}

.icon-login,
.icon-logout,
.icon-user {
    fill: var(--basic-graylight);
}

.login:hover .icon-login,
.profile:hover .icon-user,
.logout:hover .icon-logout {
    fill: var(--blue-gray);
}

.login:active .icon-login,
.profile:active .icon-user,
.logout:active .icon-logout {
    fill: var(--basic-graylight);
}

.checkin:hover,
.login:hover {
    color: var(--pink-red);
}

.checkin:active,
.login:active {
    color: var(--basic-graylight);
}

.profile-option {
    color: var(--basic-blue);
    font-size: 16px;
    line-height: 18px;
}

.profile:hover {
    /* Изменение заливки картинки */
}

.profile-option:hover {
    color: var(--pink-red);
}

.profile:active,
.profile-option:active {
    color: var(--basic-graylight);
}

.nav {
    font-size: 18px;
    line-height: 24px;
    background-color: var(--basic-blue);
    box-shadow: inset 0px -5px 0px var(--dark-blue);
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list a {
    color: var(--white);
}

.nav-list a:hover,
.nav-list a:focus {
    background-color: var(--dark-blue);
}

.nav-list a:active {
    background-color: var(--darken-blue);
    opacity: 0.5;
}


/*=======Modules=======*/


.module-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    height: 409px;
    margin: 59px 0;
}

.icon-link {
    display: inline-block;
    vertical-align: top;
    width: 135px;
    height: 38px;
    background-color: var(--less-alpha-white);
    color: var(--white);
}

.icon-link:hover {
    background-color: var(--dark-gray);
}

.icon-link:active {
    background-color: var(--gray);
}

.icon-name {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--white);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.slider {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.materials-icon {
    background-color: var(--orange);
}

.tools-icon {
    background-color: var(--blue);
}

.tech-icon {
    background-color: var(--lilac);
}

.sale-icon {
    background-color: var(--greenlight);
}

.delivery-icon {
    background-color: var(--light-orange);
}

.icon-1,
.icon-2,
.icon-3,
.icon-4,
.icon-5 {
    fill: var(--white);
}


/*=======Slider=======*/

.slide-hidden,
.card-item-hidden,
.option-slide-hidden {
    display: none;
}

.slider-page-1 {
    width: 620px;
    height: 266px;
    background-color: var(--black);
    background-image: url(../img/slider-bg-perf.jpg);
}

.slider-page-2 {
    width: 620px;
    height: 266px;
    background-color: var(--black);
    background-image: url(../img/slider-bg-drill.jpg);
}

.slider-header {
    width: 620px;
    height: 104px;
    background-color: var(--alpha-black);
}

.slider-name {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--white);
}

.slider-subname {
    color: var(--white);
    font-size: 18px;
}

.slider-left-button,
.slider-right-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-left {
    fill: var(--white);
}

.icon-left-rotated {
    fill: var(--white);
    transform: rotate(-180deg);
}

.button {
    display: inline-block;
    vertical-align: top;
    width: 192px;
    height: 38px;
    background-color: var(--pink-red);
    color: var(--white);
    line-height: 18px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--dark-pink-red);
}

.button:active {
    background-color: var(--dark-red);
}


/*=======Popular Goods=======*/


.section-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--beige-gray);
}

.caption {
    color: var(--basic-blue);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.goods-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 70px;
}

.good-card {
    display: flex;
    flex-direction: column;
    height: 318px;
    background: var(--white);
    border: 1px solid var(--lighten-gray);
    box-sizing: border-box;
}

.good-name {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.old-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--basic-gray);
}

.current-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--pink-red);
}

.card-button {
    border: none;
    cursor: pointer;
    background: var(--green);
    box-shadow: inset 0px -3px 0px var(--shadow-green);
    border-radius: 2px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
}

.card-button:hover {
    background-color: var(--light-green);
}

.card-button:active {
    background-color: var(--darken-green);
}

.to-markers {
    border: 3px solid var(--green);
    box-sizing: border-box;
    border-radius: 2px;
    text-transform: uppercase;
    color: var(--basic-blue);
    line-height: 18px;
    text-align: center;
}

.to-markers:hover {
    border: 3px solid var(--basic-blue);
}

.to-markers:active {
    border: 3px solid var(--basic-blue);
    opacity: 0.5;
}


/*=======Popular Brands=======*/


.brands-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: 310px;
    margin-bottom: 70px;
}

.brand-icon {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 145px;
    background-color: var(--white);
    border: 1px solid var(--lighten-gray);
    box-sizing: border-box;
}

.brand-icon:hover {
    filter: drop-shadow(0px 4px 20px var(--shadow-alpha-gray));
}

.brand-icon:active {
    filter: drop-shadow(0px 4px 20px var(--shadow-alpha-gray));
    opacity: 0.5;
}


/*=======Options=======*/


.options {
    width: 100%;
    height: 522px;
    background-color: var(--sky-gray);
}

.options-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.options-description {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.block-caption {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
}

.text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--black);
}

.radio-boxes {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.option-slide-1,
.option-slide-2,
.option-slide-3 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.subcaption {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-blue);
}

.request {
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--light-pink-red);
    border-radius: 2px;
}

.radio-delivery-icon {
    width: 468px;
    height: 261px;
    background-image: url(../img/lorrypng.png);
}

.radio-guarantee-icon {
    width: 389px;
    height: 283px;
    background-image: url(../img/medal.png);
}

.radio-credit-icon {
    width: 465px;
    height: 285px;
    background-image: url(../img/credit.png);
}


/*=======Info=======*/


.info-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 70px 130px;
}

.transport {
    font-size: 18px;
    color: var(--black);
}

.info-button {
    width: 220px;
}

.help-button {
    width: 300px;
}

/*=======Catalog Main=======*/


.breadcrumb,
.selection-caption {
    color: var(--black);
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.icon-home {
    fill: var(--light-grey);
}

.filters-container {
    background-color: var(--soft-gray);
}

.catalog-page {
    display: inline-block;
    vertical-align: top;
    width: 38px;
    height: 38px;
    color: var(--black);
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--white);
    border: 1px solid var(--lightest-gray);
    box-sizing: border-box;
    border-radius: 2px;
}

.current-catalog-page {
    display: inline-block;
    vertical-align: top;
    width: 38px;
    height: 38px;
    color: var(--white);
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--pink-red);
    border-radius: 2px;
}

.next-catalog-page {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    height: 38px;
    color: var(--black);
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--white);
    border: 1px solid var(--lightest-gray);
    box-sizing: border-box;
    border-radius: 2px;
}

.filter-option {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.0484964px;
    text-transform: uppercase;
    color: var(--black);
}

.filters-button {
    width: 220px;
    height: 38px;
    color: var(--black);
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--white);
    border: 1px solid var(--lightest-gray);
    box-sizing: border-box;
    cursor: pointer;
}

.catalog-page:hover,
.next-catalog-page:hover {
    border: 1px solid var(--basic-graylight);
}

.catalog-page:active,
.next-catalog-page:active {
    border: 1px solid var(--pink-red);
}


/*=======Footer=======*/


.upper-footer {
    height: 193px;
    background-color: var(--basic-blue);
}

.upper-footer-wrapper {
    display: grid;
    grid-template-columns: 380px auto;
    align-items: center;
}

.footer-logo-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 220px;
    height: 68px;
    background-image: url(../img/logotype.png)
}

.footer-address {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: var(--sky-gray);
    font-size: 18px;
}

.footer-tel {
    color: var(--sky-gray);
    font-size: 18px;
}

.upper-links {
    display: flex;
    justify-content: flex-end;
}

.lower-links {
    display: flex;
    justify-content: flex-end;
    align-self: baseline;
    padding-top: 27px;
}

.upper-link {
    color: var(--sky-gray);
    font-size: 18px;
}

.lower-link {
    color: var(--light-gold);
    font-size: 18px;
}

.upper-link:hover,
.lower-link:hover {
    text-decoration: underline;
}

.upper-link:active,
.lower-link:active {
    opacity: 0.5;
    text-decoration: none;
}

.lower-footer {
    height: 107px;
    background-color: var(--dark-blue);
}

.lower-footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    align-items: center;
    height: 107px;
}

.footer-text {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.footer-contacts {
    color: var(--light-gold);
}

.footer-contacts:hover {
    text-decoration: underline;
}

.footer-contacts:active {
    color: var(--pink-red);
    text-decoration: none;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media-icon {
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(0deg, var(--blue-darker), var(--blue-darker));
}

.social-media-icon:hover,
.social-media-icon:active {
    background: var(--pink-red);
}

.icon-vk,
.icon-fb,
.icon-ig {
    fill: var(--white);
}

.authors {
    display: flex;
    justify-content: space-between;
}

